<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" 
             type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <unitTestProvider name="MsTest" />
    <stepAssemblies>
      <stepAssembly assembly="Db.Isolate" />
    </stepAssemblies>
  </specFlow>
  <connectionStrings>
    <add name="SqlServerConnString" 
         providerName="System.Data.SqlClient" 
         connectionString="Data Source=.\SQLEXPRESS;MultipleActiveResultSets=True;Database=testdb;User ID=sa;Password=Sql@123" />
  </connectionStrings>
</configuration>